<div class="auth-card">
  <div class="form">
    <form
      class="login-form"
      (submit)="onSignup(signupForm)"
      #signupForm="ngForm"
    >
      <input
        type="text"
        placeholder="full Name"
        name="fullname"
        ngModel
        #usernameInput="ngModel"
      />
      <input
        type="email"
        placeholder="email"
        name="email"
        ngModel
        #emailInput="ngModel"
      />
      <input
        type="password"
        placeholder="password"
        name="password"
        autocomplete="none"
        ngModel
        #passwordInput="ngModel"
      />
      <button type="submit">REGISTER</button>
      <p class="message">
        Already have an account?<a routerLink="/login">Log in!</a>
      </p>
    </form>
  </div>
</div>
