/* You can add global styles to this file, and also import other style files */
body,
html {
  margin: 0;
  background-color: blue;
  //background: url("./assets/bg.jpg");
  background: url("./assets/leaves.jpg");
  background-size: cover;
}
